{% extends 'Blog/base.html' %}
{% block title %} Actual content {% endblock %}
{% block pagecontent %}
    <h4>Title:</h4>
    {{blog.title}}
    <h4>Content:</h4>
    {{blog.content}} <br/><br/>
    <a href="{% url 'Blog:homepage' %}">Back To HomePage</a>
    {%if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="" role="alert">
                 <center>{{message}}</center></a>
                </div>
            {% endfor %}
        </div>
<a href=""></a>
    {% endif %}
{% endblock %}
