{% extends 'Blog/base.html' %}
{% block title %}POST{% endblock %}
{% block header %}<b> ANONYMOUS BLOG</b> {% endblock %}
{% block pagecontent %}
<div class="container">
    <div class="form-group">
        <div class="card mt-4">
            <h3 class="card-header success-color white-text">Table of contents</h3>
            <div class="card-body">
                {% autoescape off %}
                    {{blog_toc|linebreaks}}
                {% endautoescape %}
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <div class="container">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><a href="{{request.session.url_path}}">{{blog.id}}/edit/</a></h4>
                  </div>
                </div>
            </div>
        {% else %}

            <div class="form-group row">
                <div class="col-sm-10">
                    {%if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-success mt-3"  role="alert">
                                    {{message|safe}}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="container text-center">
            <label for="blog_title" class='h3'>Title:</label>
            <div class="d-inline">
                    {{blog.title}}
            </div>
        </div>

        <div class="container text-center">
            <label for="blog_content" class='h2'>Content:</label>
            <div class="d-inline">
                {% autoescape off %}
                    {{blog.content|linebreaks}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
